.expcontent > div{
    height :300px;
    width :31%;
    text-align: center;
    padding:20px 10px;
    display: inline-block;
    background-color:#ffffff;
    border: 1px solid #888888;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width:468px) and (max-width:760px){
    .expcontent > div {
        width: 100%;
        display:block;
        margin:4px;
    }
}